ros1_ws/build/
ros1_ws/devel/
ros1_ws/install/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
build/
build-common/
.DS_Store
ros1_ws/build-*/
ros1_ws/devel-*/

__pycache__/
*.pyc
build-*/
ros1_ws/src/CMakeLists.txt
